div(class="hero-foot")
  nav(class="tabs is-boxed is-fullwidth")
    div(class="container")
      ul
        li.has-background-info
          a About
        li.has-background-primary
          a Front End
        li.has-background-dark
          a Back End
        li.has-background-success
          a Mobile
        li.has-background-danger
          a Team Lead
        li.has-background-info
          a Freelancer
