div(class="hero-head")
    header(class="navbar")
        div(class="container")
            div(class="navbar-brand")
                a(class="navbar-item")
                    h1(class="title" title="Muhammad Adil")=logo

                span(class="navbar-burger burger" data-target="adilHeroNavBar" onclick='handleMobileNav(this)')
                    span
                    span
                    span

            div(id="adilHeroNavBar" class="navbar-menu")
                div(class="navbar-end")
                    a(class="navbar-item is-active" title="Home" href="/")
                        span(class="icon")
                            i(class="fas fa-home")
                    a(class="navbar-item" title="LinkedIn" href="https://www.linkedin.com/in/adilsaeed31/" target="_blank")
                        span(class="icon")
                            i(class="fab fa-linkedin")
                    a(class="navbar-item" title="Github" href="https://github.com/adilsaeed31" target="_blank")
                        span(class="icon")
                            i(class="fab fa-github")
                    a(class="navbar-item" title="StackOverflow" href="https://meta.stackoverflow.com/users/3722934/muhammad-adil" target="_blank")
                        span(class="icon")
                            i(class="fab fa-stack-overflow")
                    a(class="navbar-item" title="Twitter" href="https://twitter.com/adilsaeed31" target="_blank")
                        span(class="icon")
                            i(class="fab fa-twitter")
                    a(class="navbar-item" title="Facebook" href="https://www.facebook.com/muhammadadil.saeed" target="_blank")
                        span(class="icon")
                            i(class="fab fa-facebook")
                    span(class="navbar-item")
                        a(id="hiBtn" class=`button is-inverted is-${background}` href="mailto:adilsaeed31@gmail.com?subject=Need%20your%20assistance&body=Hi,%20Mate,%20Please%20reply%20me%20back.%20Thank%20you")
                            span(class="icon")
                                i(class="far fa-paper-plane")
                            span Hi aDil
