div(class="hero-head")
    nav(class="navbar")
        div(class="container")
            div(class="navbar-brand")
              div(class="title is-ancestor")
                div(class="tile")
                  a(class="navbar-item")
                    h1(class="title" title="Muhammad Adil")=logo
                div(class="tile")
                  h6(class="subtitle") Full Stack Developer Web/Mobile/Desktop & Technical Lead.
              span(class="navbar-burger burger" data-target="navbarMenuHeroA")
                  span
                  span
                  span

            div(id="navbarMenuHeroA" class="navbar-menu")
                div(class="navbar-end")
                    a(class="navbar-item is-active" title="Home")
                      span(class="icon")
                        i(class="fas fa-home")
                    a(class="navbar-item" title="Blog")
                      span(class="icon")
                        i(class="fab fa-wordpress")
                    a(class="navbar-item" title="GitLab")
                      span(class="icon")
                        i(class="fab fa-gitlab")
                    a(class="navbar-item" title="Github")
                      span(class="icon")
                        i(class="fab fa-github")
                    a(class="navbar-item" title="StackOverflow")
                      span(class="icon")
                        i(class="fab fa-stack-overflow")
                    a(class="navbar-item" title="Twitter")
                      span(class="icon")
                        i(class="fab fa-twitter")
                    a(class="navbar-item" title="Facebook")
                      span(class="icon")
                        i(class="fab fa-facebook")
                    span(class="navbar-item")
                        a(class=`button is-${background} is-inverted`)
                            span(class="icon")
                                i(class="far fa-paper-plane")
                            span Hi aDil
