div(class="hero-head")
    nav(class="navbar")
        div(class="container")
            div(class="navbar-brand")
              div(class="title is-ancestor")
                div(class="tile")
                  a(class="navbar-item")
                    h1(class="title" title="Muhammad Adil") aDilworld
                div(class="tile")
                  h6(class="subtitle") Full Stack Developer Web/Mobile/Desktop & Technical Lead.
              span(class="navbar-burger burger" data-target="navbarMenuHeroA")
                  span
                  span
                  span

            div(id="navbarMenuHeroA" class="navbar-menu")
                div(class="navbar-end")
                    a(class="navbar-item is-active") Home
                    a(class="navbar-item") Blog
                    span(class="navbar-item")
                        a(class="button is-primary is-inverted")
                            span(class="icon")
                                i(class="fab fa-github")
                            span Hi aDil
