{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard"
  ],
  "plugins": [
    "import",
    "prettier",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "new-cap": "off",
    "prettier/prettier": 2,
    "semi": "off"
  }
}